{
  "plugins": [
    "babel-plugin-transform-runtime",
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-remove-strict-mode",
    [
      "babel-plugin-import",
      {
        "libraryName": "antd", 
        "style": true
      }
    ]
  ],
  "presets": [
    "babel-preset-env",
    "babel-preset-stage-0",
    "babel-preset-react"
  ]
}